<div class="footer-outerbox">
    <footer class="footer">
        <div class="f-info">
            <svg class="footer-box footer-icon"><use xlink:href="/img/sprite.svg#icon-facebook2" ></use></svg>
            <svg class="footer-box footer-icon"><use xlink:href="/img/sprite.svg#icon-instagram" ></use></svg>
            <svg class="footer-box footer-icon"><use xlink:href="/img/sprite.svg#icon-linkedin" ></use></svg>
        </div>
        <div class="copyright"> &copy;. Wanderlust Private Limited</div>
    
        <div class="f-info-links">
            <a href="/privacy">privacy</a>
            <a href="/terms">terms</a>
        </div>
    </footer>
</div>