<% layout('./layout/boilerplate') %>
<body>
    <section class="section-book">
        <div class=" section-book__background row col-8 offset-2">
            <div class="section-book__content">
                <form action="#" class="registration-form needs-validation was-validated" novalidate="">
                    <br>
                    <div  class="input-box name-box">
                        <input class="form-control" placeholder="Full name" type="text" id="name" name="registration[name]" required>
                        <label class=" registration-label" for="name"> Full name</label>
                    </div><br>

                    <div  class="input-box email">
                        <input class="form-control" placeholder="Email" type="email" id="email" name="registration[email]" required>
                        <label class=" registration-label" for="email">Email</label>
                    </div><br>

                    <div  class="input-box phone">
                        <input class="form-control" placeholder="Cell Number" type="number" id="phone" name="registration[phone]" required>
                        <label class=" registration-label" for="phone">Cell Number</label>
                    </div><br>

                    <div  class="input-box people-num">
                        <input class="form-control" placeholder="Total People" type="number" id="people-num" name="registration[people-num]" required>
                        <label class=" registration-label" for="people-num">Total People</label>
                    </div><br>
                    <button class="btn btn-dark add-btn registration-btn mt-4">Add</button>
                </form>
            </div>

        </div>
    </section>
</body>
</html>